* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c3ccd7;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  position: relative;

  background-image: url("assets/images/11.jpg"); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Full height of the screen */
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2% auto;
  padding: 10px;
  /* background: linear-gradient(180deg, #e5e9ec, #e8ecef); */
  background-color: #51699144;
  color: #7d7f80;
  border-radius: 50px;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
}
h1,
h2 {
  padding: 20px;
  color: #c6c9d8;
}
input {
  width: 50%;
  border-radius: 30px;
  margin: 20px 0 0 20px;
  height: 30px;
  border: 2px solid rgb(169, 167, 167);
  padding-left: 20px;
}
input:focus {
  background-color: rgba(240, 245, 246, 0.845);
  border: none;
  outline: none;
}
input::placeholder {
  color: grey;
  padding-left: 10px;
  font-style: italic;
}
.weather-cont {
  color: grey;
  font-style: italic;
  font-size: 30px;
}
.weather {
  padding: 30px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 15px;
  position: fixed;
  top: 0; /* Sticks to the top */
  right: 0; /* Sticks to the right */
  height: 100vh; /* Makes it take the full height of the screen */
  width: 25%; /* Adjust as needed */

  background-color: #51699194;
}

.weather-card {
  display: flex;

  gap: 6px;
  padding: 10px;
  border-radius: 4px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #516991ee;
}

.weather-card .location-time {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0 0 0;
}

.location-time p {
  margin-left: auto;
}

.subDiv2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
